.app {
}

/* @font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url("src/assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
} */

:root {
    --section-spacing: 3.5rem;
    --clr-Primary-100: hsl(215deg, 53%, 90%);
    --clr-Primary-200: hsl(215deg, 53%, 70%);
    --clr-Primary-300: hsl(215deg, 53%, 30%);
    --clr-Primary-400: hsl(215deg, 53%, 20%);
    --clr-Primary-500: hsl(215deg, 37%, 17%);
    --clr-Primary-600: hsl(215deg, 53%, 10%);
    --clr-Secondary-100: hsl(170, 25%, 90%);
    --clr-Secondary-200: hsl(170, 25%, 70%);
    --clr-Secondary-300: hsl(170, 25%, 50%);
    --clr-Secondary-400: hsl(170, 25%, 40%);
    --clr-Secondary-500: hsl(170, 25%, 30%);
    --clr-Secondary-600: hsl(170, 25%, 20%);
    --clr-Neutral-100: hsl(0deg, 0%, 100%);
    --clr-Neutral-200: hsl(0deg, 0%, 87%);
    --clr-Neutral-300: hsl(0deg, 0%, 80%);
    --clr-Neutral-400: hsl(0deg, 0%, 70%);
    --clr-Neutral-500: hsl(0deg, 0%, 60%);
    --clr-Neutral-600: hsl(0deg, 0%, 50%);
    --clr-Neutral-700: hsl(0deg, 0%, 40%);
    --clr-Neutral-800: hsl(0deg, 0%, 30%);
    --clr-Neutral-900: hsl(0deg, 0%, 15%);
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.563rem;
    --fs-600: 1.953rem;
    --fs-700: 2.441rem;
    --fs-800: 3.052rem;
}

/* @media only screen and (min-width: 640px) {
  /* :root {
      --section-spacing: 7rem;
  }
} */

@media only screen and (min-width: 40em) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.25rem;
        --fs-500: 2rem;
        --fs-600: 2.827rem;
        --fs-700: 4rem;
        --fs-800: 5.653rem;
    }
}
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /* background-color: var(--clr-Secondary-300); */
    color: var(--clr-Primary-500);
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
=============
COLOR TEXT & BACKGROUND
=============
*/

.textPrimary100 {
    color: var(--clr-Primary-100);
}

.bgPrimary100 {
    background-color: var(--clr-Primary-100);
}

.textPrimary200 {
    color: var(--clr-Primary-200);
}

.bgPrimary200 {
    background-color: var(--clr-Primary-200);
}

.textPrimary300 {
    color: var(--clr-Primary-300);
}

.bgPrimary300 {
    background-color: var(--clr-Primary-300);
}

.textPrimary400 {
    color: var(--clr-Primary-400);
}

.bgPrimary400 {
    background-color: var(--clr-Primary-400);
}

.textPrimary500 {
    color: var(--clr-Primary-500);
}

.bgPrimary500 {
    background-color: var(--clr-Primary-500);
}

.textPrimary600 {
    color: var(--clr-Primary-600);
}

.bgPrimary600 {
    background-color: var(--clr-Primary-600);
}

.textPrimary700 {
    color: var(--clr-Primary-700);
}

.bgPrimary700 {
    background-color: var(--clr-Primary-700);
}

.textSecondary100 {
    color: var(--clr-Secondary-100);
}

.bgSecondary100 {
    background-color: var(--clr-Secondary-100);
}

.textSecondary200 {
    color: var(--clr-Secondary-200);
}

.bgSecondary200 {
    background-color: var(--clr-Secondary-200);
}

.textSecondary300 {
    color: var(--clr-Secondary-300);
}

.bgSecondary300 {
    background-color: var(--clr-Secondary-300);
}

.textSecondary400 {
    color: var(--clr-Secondary-400);
}

.bgSecondary400 {
    background-color: var(--clr-Secondary-400);
}

.textSecondary500 {
    color: var(--clr-Secondary-500);
}

.bgSecondary500 {
    background-color: var(--clr-Secondary-500);
}

.textSecondary600 {
    color: var(--clr-Secondary-600);
}

.bgSecondary600 {
    background-color: var(--clr-Secondary-600);
}

.textNeutral100 {
    color: var(--clr-Neutral-100);
}

.bgNeutral100 {
    background-color: var(--clr-Neutral-100);
}

.textNeutral200 {
    color: var(--clr-Neutral-200);
}

.bgNeutral200 {
    background-color: var(--clr-Neutral-200);
}

.textNeutral300 {
    color: var(--clr-Neutral-300);
}

.bgNeutral300 {
    background-color: var(--clr-Neutral-300);
}

.textNeutral400 {
    color: var(--clr-Neutral-400);
}

.bgNeutral400 {
    background-color: var(--clr-Neutral-400);
}

.textNeutral500 {
    color: var(--clr-Neutral-500);
}

.bgNeutral500 {
    background-color: var(--clr-Neutral-500);
}

.textNeutral600 {
    color: var(--clr-Neutral-600);
}

.bgNeutral600 {
    background-color: var(--clr-Neutral-600);
}

.textNeutral700 {
    color: var(--clr-Neutral-700);
}

.bgNeutral700 {
    background-color: var(--clr-Neutral-700);
}

.textNeutral800 {
    color: var(--clr-Neutral-800);
}

.bgNeutral800 {
    background-color: var(--clr-Neutral-800);
}

.textNeutral900 {
    color: var(--clr-Neutral-900);
}

.bgNeutral900 {
    background-color: var(--clr-Neutral-900);
}

/*
=============
COMPOSITION
=============
*/

.displayHidden {
    display: none;
}

/* ===Flex classes=== */
.displayFlex {
    display: flex;
}

.displayFlexColumn {
    display: flex;
    flex-direction: column;
}

/*justify-content*/
.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyEvenly {
    justify-content: space-evenly;
}

/*align-content*/
.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

/*align-self*/
.alignSelfCenter {
    align-self: center;
}

.alignSelfEnd {
    align-self: flex-end;
}

.alignSelfStart {
    align-self: flex-start;
}

.flexGrow {
    flex-grow: 1;
}
