@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Righteous";
  src: url(/src/fonts/Righteous-Regular.ttf);
  font-family: "Urbanist";
  src: url(/src/fonts/MontserratAlternates-Medium.ttf);
}


.mainHeader {
  @apply p-2 font-primaryFont text-xl text-lightcream;
}

.header1 {
  @apply p-2 font-secondaryFont text-lightcream;
}

.textAreaWhite {
  @apply font-secondaryFont text-white;
}

.textAreaCream {
  @apply pl-10 font-secondaryFont text-creemish;
}

#root {
  min-width: 100%;
}

br{
  display: none;
}

h2{
  font-family: 'Righteous', ;
  font-weight: 400;
  font-size: 3rem;
}

.border-gradient {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.gradient-red {
  border-image-source: linear-gradient(163deg, rgba(164, 100, 108, 1) 0%, rgba(218, 194, 162, 1) 100%);
  border-radius: 50px;
}

.gradient-green {
  border-image-source: linear-gradient(163deg, rgba(230, 218, 199, 1) 0%, rgba(79, 100, 92, 1) 100%);
  border-radius: 50px;
}

.showConnexion {
  top: 0;
}